<TABLE BORDER="1" cellspacing="1" cellpadding="2">
<TR valign="middle" bgcolor="#C0C0C0">
<TH>Hierarchy</TH>
<TH>Input</TH>
<TH>Constant Input</TH>
<TH>Unused Input</TH>
<TH>Floating Input</TH>
<TH>Output</TH>
<TH>Constant Output</TH>
<TH>Unused Output</TH>
<TH>Floating Output</TH>
<TH>Bidir</TH>
<TH>Constant Bidir</TH>
<TH>Unused Bidir</TH>
<TH>Input only Bidir</TH>
<TH>Output only Bidir</TH>
</TR>
<TR valign="middle">
<TD ALIGN="LEFT">rm_dec|last_maj</TD>
<TD ALIGN="LEFT">36</TD>
<TD ALIGN="LEFT">29</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">29</TD>
<TD ALIGN="LEFT">8</TD>
<TD ALIGN="LEFT">29</TD>
<TD ALIGN="LEFT">29</TD>
<TD ALIGN="LEFT">29</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
</TR>
<TR valign="middle">
<TD ALIGN="LEFT">rm_dec|maj3</TD>
<TD ALIGN="LEFT">25</TD>
<TD ALIGN="LEFT">18</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">18</TD>
<TD ALIGN="LEFT">2</TD>
<TD ALIGN="LEFT">18</TD>
<TD ALIGN="LEFT">18</TD>
<TD ALIGN="LEFT">18</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
</TR>
<TR valign="middle">
<TD ALIGN="LEFT">rm_dec|maj2</TD>
<TD ALIGN="LEFT">25</TD>
<TD ALIGN="LEFT">18</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">18</TD>
<TD ALIGN="LEFT">2</TD>
<TD ALIGN="LEFT">18</TD>
<TD ALIGN="LEFT">18</TD>
<TD ALIGN="LEFT">18</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
</TR>
<TR valign="middle">
<TD ALIGN="LEFT">rm_dec|maj1</TD>
<TD ALIGN="LEFT">25</TD>
<TD ALIGN="LEFT">18</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">18</TD>
<TD ALIGN="LEFT">2</TD>
<TD ALIGN="LEFT">18</TD>
<TD ALIGN="LEFT">18</TD>
<TD ALIGN="LEFT">18</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
</TR>
<TR valign="middle">
<TD ALIGN="LEFT">rm_dec</TD>
<TD ALIGN="LEFT">8</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">8</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
</TR>
</TABLE>
